<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.jraf.android.cinetoday"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".mobile.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <!-- Main -->
        <activity android:name=".mobile.app.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Theater search -->
        <activity
            android:name=".mobile.app.theater.search.TheaterSearchActivity"
            android:label="@string/theater_search_title" />

        <!-- Preferences -->
        <activity
            android:name=".mobile.app.prefs.PreferencesActivity"
            android:label="@string/preferences_title" />

        <!-- About -->
        <activity
            android:name="org.jraf.android.util.about.AboutActivity"
            android:label="@string/about_title" />


        <!-- Load movies -->
        <service
            android:name=".mobile.app.loadmovies.LoadMoviesIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".mobile.app.loadmovies.LoadMoviesTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <!-- Configure -->
        <service
            android:name=".mobile.app.configure.ConfigureWearableListenerService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/action"
                    android:scheme="wear" />
            </intent-filter>
        </service>


        <!-- Send logs -->
        <receiver
            android:name=".mobile.logs.SendLogsBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.jraf.android.util.about.ACTION_SEND_LOGS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
