<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.jraf.android.cinetoday"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CineToday"
        tools:ignore="AllowBackup">

        <!-- Wear standalone -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <!-- Crashlytics api key -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${apiKeyFabric}" />

        <!-- Glide configuration -->
        <meta-data
            android:name="org.jraf.android.cinetoday.glide.CineTodayGlideModule"
            android:value="GlideModule" />


        <!-- Content provider -->
        <provider
            android:name=".provider.CineTodayProvider"
            android:authorities="org.jraf.android.cinetoday.provider"
            android:exported="false" />


        <!-- Load movies -->
        <service
            android:name=".app.loadmovies.LoadMoviesIntentService"
            android:exported="false" />
        <service
            android:name=".app.loadmovies.LoadMoviesTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>


        <!-- Main -->
        <activity
            android:name=".app.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Theater search -->
        <activity android:name=".app.theater.search.TheaterSearchActivity" />

        <!-- Movie details -->
        <activity android:name=".app.movie.details.MovieDetailsActivity" />

        <!-- About -->
        <activity android:name="org.jraf.android.util.about.WearAboutActivity" />

        <!-- Confirmation -->
        <activity
            android:name="android.support.wearable.activity.ConfirmationActivity"
            android:theme="@style/ConfirmationActivity" />

    </application>

</manifest>
