<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.jraf.android.cinetoday"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Tile preview -->
        <activity android:name=".app.tile.preview.TilePreviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
